.text {color: white}
.text1 {color: #ffc400;}
div {color: white}
.text2 {background-color: #ffc40096}
.text3 {margin-left: 100px;width: 1200px
	;margin-top: 40px;color: white}
.text4 {margin-left: 100px; width: 1200px
	;margin-top: 10px;color: white}
.text5 {margin-left: 100px;width: 1200px; 
	margin-top: 40px;color: white;background-color:#ffc40096}
.text6 {color: black  }
.text7 {margin-left: 100px; width: 1200px
	;margin-top: 8px;color: white}
.img3 {margin-left: 70px ; width: 300px; }
.img1 {margin-left: 25px; width: 400px}
.img2 {margin-left: 70px ;width: 400px}